<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://integratedapp.rst.com.pl/IntegratedWidget" version="1.0.0" viewmodes="maximized">
    <tizen:application id="EtBir03IKy.IntegratedWidget" package="EtBir03IKy" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="icon.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <name>IntegratedWidget</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
