* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.tile {
    position: relative;
    float: left;
    height: 78px;
    width: 114px;
    margin: 20px 15px;
}

.tile .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ff9100;
    font-weight: bold;
    font-size: 22px;
    line-height: 78px;
}